.exchange-title{
    margin: 0px 8px 12px 8px;
    text-align: center;
    font-weight: 500;
}
.exchange-col{
    margin-bottom: 8px;
}
.exchange-panel-title{
    display: flex;
    align-items: center;
}
.exchange-container{
    padding: 0px 4px;
    text-align: center;
}
.exchange-panel-title-name{
    text-align: left;
}