@media screen and (max-width: 425px) {
    .logo-container{
        width: 100%;
    }
    .menu-open{
    }

    .footer {
        display: none;
    }
    .nav-container-close{
        background-color: #001529;
        height: 90px;
    }
    .nav-container{
        display: flex;
        background-color: #001529;
        height: 90px;
    }
    .main-menu-control-container{
        display: flex!important;
    }
}
.main-menu-control-container{
    display: none;
}
.menu-control-container{
    background-color: #001529;
    color: white;
}
.navbar{
    z-index: 100;
}